textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    height: 22pt;
    resize: none;
}

#submit {
    font-size: 16pt;
    vertical-align: top;
}

.question_title {
    font-size: 18pt;
    padding-bottom: 10px;
}

.question {
    font-size: 12pt;
    padding-bottom: 10px;
}