textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    height: 22pt;
    resize: none;
}

#submit {
    font-size: 16pt;
    vertical-align: top;
}

.question_title {
    font-size: 20pt;
    padding-bottom: 10px;
}

.question {
    font-size: 14pt;
    padding-bottom: 10px;
}

.answer {
    font-size: 14pt;
}

#end_div {
    font-size: 20pt;
}

#hint {
    color: rgb(185, 0, 0);
}